<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/wa_twitter</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    
    <property name="hibernate.connection.pool_size">5</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="hibernate.generate_statistics">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.connection.datasource">java:/wa_twitter</property>
    <property name="hibernate.max_fetch_depth">3</property>
    
    <mapping class="model.Followers"/>
    <mapping class="model.TweetMentions"/>
    <mapping class="model.TweetTag"/>
    <mapping class="model.TweetUrl"/>
    <mapping class="model.Tweets"/>
    <mapping class="model.UserProfiles"/>
  </session-factory>
</hibernate-configuration>
